# Node modules
node_modules/

# Build directories
build/
dist/

# Logs
*.log

# System files
.DS_Store

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Compiled files
*.pyc
__pycache__/

# Coverage reports
coverage/
